@media (min-width: 600px) and (max-width: 799px) {
    .header-hero-section{  
        .text-container{
            > h1{
                font-size: 3rem !important;   
            }
        }
    } 
}


@media (min-width: 750px){

    .header-hero-section{  
        background: $backgroundGradientDesktop;     
        .background-placeholder{
            background: url("../resources/images/bg-pattern-intro.svg") no-repeat;
            background-position: 26% 52%;
            background-size: 220%;
            height: 600px;
            width: 100%;

            .hero-section{
                height: calc(600px - 160px);
            }
            .text-container{
                padding: 0px 44px;
                > h1{
                    font-size: 2.875rem   
                }
            }
        }  
    }   
    
     
    header{
        justify-content: flex-start;
        .header-logo{
            margin-right: 66px;
            width: 100px;
            height: 40px;
        }
    }
}


@media (min-width: 750px){
    .footer-container{
        padding: 64px 100px;
        footer{
            width: 100%;
            margin: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            .footer-logo{
                width: 100px;
                height: 40px;
                margin: 0px;
                margin-right: 184px;
            }
            .footer-navbar-container{
                position: relative;
                width: 100%;
                .nav-item-container{
                    .nav-options-container{
                        width: 100%;

                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: flex-start;
                        .nav-item{
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    .main-content-container{
        width: 100%;
    
        .main-content-inner-wrapper{
            position: relative;
            .first-section{
                
                background: url("../resources/images/illustration-editor-desktop.svg") no-repeat;
                background-position: 150% 50%;
                background-size: 63%;

                padding: 0px; 
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
                height: 1011px;
                text-align: center;
                
                    
                > h1 { 
                    color: $veryDarkBlue;
                    font-size: 2.3125rem;
                    margin-top: 161px;
                    margin-bottom: 116px;
                }
    
                .first-section-main-contents{
                    .paragraphs{
                        margin-left: 11.52777777777%;
                        text-align: left;
                        .paragraph{
                            .title{
                                display: flex; 
                                > h2 {
                                    margin-right: 5px;
                                }        
                            }
                            p{
                                width: 37.29166666666%;
                            }
                        }     
                    }  
                }    
            }

            .second-section{

                margin: 0px;
                position: relative;
                height: 400px; 

                .background-image {

                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    background: url("../resources/images/bg-pattern-circles.svg") no-repeat;
                    background-position: -180px 82%;
                    background-size: 70%;
                    padding: 0px 10.069444444444%;
                    
                    .second-section-image-holder{
                        
                        position: relative;
                        top: 5%;
                        width: 150%;
                        height: 150%;
                        background: url("../resources/images/illustration-phones.svg") no-repeat;
                        background-position: center 20%;
                        background-size: contain;
                        
                    }
    
                    .paragraphs{  
                        padding: 0px;      
                        .paragraph{
                            margin-top: 0;
                            margin-left: 30px;
                            text-align: left;         
                            .title{              
                                margin-bottom: 30px;
                                > h2{
                                        margin-right: 5px;
                                        color: $white;
                                        font-size: 2.2rem;
                                }
                            }
                        }
                    }
                }
            }

            .third-section{
                position: relative;
                background: url("../resources/images/illustration-laptop-desktop.svg") no-repeat;
                background-position: -60% 50%;
                background-size: 70%;

                padding: 0px;
                height: 1025px;
                .third-section-main-contents{
                    padding: 0px 12.15277777777% 0px 0px !important; 
                    height: 100%;
                    .third-section-contents{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        .paragraphs{
                            width: 36.666666666666%;
                            text-align: left;    
                        }  
                    }
                }    
            }
        }
    }
}
@media (min-width: 801px) and (max-width: 1000px) {
    .second-section{    
        .background-image {          
            .second-section-image-holder{
                position: relative;
                top: 30% !important;
                width: 150%;
                height: 150%;
                background: url("../resources/images/illustration-phones.svg") no-repeat;
                background-position: center 50px !important;
                background-size: contain;
                
            }
        }
    }
}
@media (min-width:1001px) and (max-width: 1200px) {
    .second-section{    
        .background-image {          
            .second-section-image-holder{
                position: relative;
                top: 30% !important;
                width: 150%;
                height: 150%;
                background: url("../resources/images/illustration-phones.svg") no-repeat;
                background-position: center 0px !important;
                background-size: contain;
                
            }
        }
    }
}

@media (min-width: 751px) and (max-width: 800px) {
    .second-section{    
        .background-image {          
            .second-section-image-holder{
                position: relative;
                top: 30% !important;
                width: 150%;
                height: 150%;
                background: url("../resources/images/illustration-phones.svg") no-repeat;
                background-position: center 90px !important;
                background-size: contain;
                
            }
        }
    }
}

@media (min-width: 450px) and (max-width: 599px) {
    .second-section{    
        .background-image {          
            .second-section-image-holder{
                background: url("../resources/images/illustration-phones.svg") no-repeat;
                background-position: center 20%;
                background-size: 75% !important;
            }
        }
    }
}
@media (min-width: 600px) and (max-width: 749px) {
    .second-section{    
        .background-image {          
            .second-section-image-holder{
                background: url("../resources/images/illustration-phones.svg") no-repeat;
                background-position: center 20%;
                background-size: 60% !important;
            }
        }
    }
}

@media (min-width: 1100px){
    .footer-container{
        padding: 64px 165px;

       
    }
}
@media (min-width: 1090px) {
    header{
        padding: 64px 167px;
    }
}

@media (max-width: 340px) {

    
    .header-hero-section{
        .background-placeholder{
            .hero-section{
                .hero-section-container{
                    .hero-section-buttons{
                        .buttons-container{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            >button:first-child {
                                margin: 0px 0px 10px 0px;
                            }
                        }
                    }
                }
            }
        }   
    }




    .main-content-container{
        .main-content-inner-wrapper{
            .second-section{
                .background-image {
                    padding-top: 130px;
                    .paragraphs{
                        .paragraph{
                            margin-top: 30px;
                            .title{
                                > h2 {
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 750px) and (max-width: 1100px) {
    .main-content-container{
        .main-content-inner-wrapper{
            .first-section{
                > h1{
                    font-size: 2rem;
                }    
            }
        }
    }
}