//COLORS :
    //Primary
    $lightRed: hsl(356, 100%, 66%);
    $veryLightRed: hsl(355, 100%, 74%);
    $veryDarkBlue:  hsl(208, 49%, 24%);

    //Nuetral
    $white: hsl(0, 0%, 100%);
    $grayishBlue: hsl(0, 0%, 85%);
    $veryDarkGrayishBlue: hsl(207, 13%, 34%);

    //Gradients
    $backgroundGradientMobile: linear-gradient(-190deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    $backgroundGradientDesktop: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    $backgroundGradientBody: linear-gradient(to left,hsl(237, 17%, 21%), hsl(237, 23%, 32%));


//Typography
    $fontOverpass: 'Overpass', sans-serif;
    $fontOverpassRegular: 300;
    $fontOverpassBold: 600;

    $fontUbuntu: 'Ubuntu', sans-serif;
    $fontUbuntuRegular: 300;
    $fontUbuntuMedium: 500;
    $fontUbuntuBold: 700;

    $fontSize: 1rem;




